CSV_CONFIG=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/csvConfig.config
FLIPKART_CSV=/Users/sreehari/Desktop/FK/flipkart-mobile.csv
FLIPKART_IMG_DEST=/Users/sreehari/Dream/WorkSpace/buyu/src/test/resources/productImages/
PIN_CONFIG=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/pincodes_of_India_Database.csv
COLOR_CONFIG=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/colors.conf
DUKE_TITLE_CONFIG=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/duke4.conf
ELASTIC_SERVER=http://localhost:9200
PRODUCT_INDEX=/buyu/product
SELLER_INDEX=/buyu/seller
Fk-Affiliate-Id=sreeharip
Fk-Affiliate-Token=2b88decd56fe4bfab93203641b3d4305
FK-Url=https://affiliate-api.flipkart.net/affiliate/product/json?id=
INFIBEAM_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/infibeam.conf
EZONE_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/ezone.conf
PAYTM_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/paytm.conf
SNAPDEAL_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/snapdeal.conf
EBAY_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/ebay.conf
CROMA_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/croma.conf
PAI_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/pai.conf
RELIANCE_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/reliance.conf
FLIPKART_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/flipkart.conf
AMAZON_CONF=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/crawler/amazon.conf
AMAZON_XML_STORE=/Users/sreehari/Dream/data/amazon
FLIPKART_MATCHER_FILE=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/flipkart.csv
AMAZON_MATCHER_FILE=/Users/sreehari/Dream/WorkSpace/buyu/src/main/resources/amazon.csv
